doctype html 
html(lang="en") 
head 
  meta(charset="utf-8")  
  meta(name="viewport" content="width=device-width , initial-scale=1.0") 
  title=title 
  meta(name="keyword" content=metaKeyword) 
  meta(name="description" content=metaDescription) 
  link(rel="icon" type="image/png" href="/images/logo.png")
  link(rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css")
  link(rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css")
  link(rel="stylesheet" href="/assets/css/style.css")