block content
    header.navbar.pcoded-header.navbar-expand-lg.navbar-light.headerpos-fixed
        .m-header
            a#mobile-collapse1.mobile-menu(href='javascript:')
                span
            a.b-brand(href='')
                span.logo IGR
        a#mobile-header.mobile-menu(href='javascript:')
            i.feather.icon-more-horizontal
        .collapse.navbar-collapse
            a(href="#" class="mob-toggler")
            ul.navbar-nav.mr-auto
                li(class="nav-item")
                    .main-search.open   
                        .input-group
                            input#m-search.form-control(type='text' placeholder='Search . . .')
                            a.input-group-append.search-close(href='javascript:')
                                i.feather.icon-x.input-group-text
                            span.input-group-append.search-btn.btn.btn-primary
                                i.feather.icon-search.input-group-text
            ul.navbar-nav.ml-auto
                if admin
                    li
                        .dropdown
                            a.dropdown-toggle(href='javascript:' data-toggle='dropdown')
                                i.icon.feather.icon-bell
                            .dropdown-menu.dropdown-menu-right.notification
                                .noti-head
                                    h6.d-inline-block.m-b-0 Notifications
                                    .float-right
                                        a.m-r-10(href='javascript:') mark as read
                                        a(href='javascript:') clear all
                                
                    li
                        .dropdown.drp-user
                            a.dropdown-toggle(href='javascript:' data-toggle='dropdown')
                                i.icon.feather.icon-settings
                            .dropdown-menu.dropdown-menu-right.profile-notification
                                .pro-head
                                    img.img-radius(src='/images/user/avatar-4.jpg' alt='User')
                                    span #{admin.userName}
                                    a.dud-logout(href='/admin/logout' title='Logout')
                                        i.feather.icon-log-out
                                ul.pro-body
                                    li
                                        a.dropdown-item(href='#')
                                            i.feather.icon-user
                                            |  Profile
                                    li
                                        a.dropdown-item(href='/admin/logout')
                                            i.feather.icon-lock
                                            |  Log Out

                if user
                        li
                            .dropdown
                                a.dropdown-toggle(href='javascript:' data-toggle='dropdown')
                                    i.icon.feather.icon-bell
                                .dropdown-menu.dropdown-menu-right.notification
                                    .noti-head
                                        h6.d-inline-block.m-b-0 Notifications
                                        .float-right
                                            a.m-r-10(href='javascript:') mark as read
                                            a(href='javascript:') clear all
                                    
                        li
                            .dropdown.drp-user
                                a.dropdown-toggle(href='javascript:' data-toggle='dropdown')
                                    i.icon.feather.icon-settings
                                .dropdown-menu.dropdown-menu-right.profile-notification
                                    .pro-head
                                        img.img-radius(src='/images/user/avatar-4.jpg' alt='User')
                                        span #{user.loginDetails.userName}
                                        a.dud-logout(href='/logout' title='Logout')
                                            i.feather.icon-log-out
                                    ul.pro-body
                                        li
                                            a.dropdown-item(href='/dashboard/profile')
                                                i.feather.icon-user
                                                |  Profile
                                        li
                                            a.dropdown-item(href='/logout')
                                                i.feather.icon-lock
                                                |  Log Out