include includes/head.pug
block content
    body
        div(class="auth-wrapper")
            div(class="auth-content container")
                div(class="card")
                    div(class="row align-items-center")
                        div(class="col-md-6")
                            form
                                div(class="card-body")
                                    p.logo #[a(href="/") IGR]
                                    h6(class="mb-3 f-w-400") Create an Admin account
                                    div(class="input-group mb-2")
                                        div(class="input-group-prepend")
                                            span(class="input-group-text")
                                                i(class="feather icon-user")
                                        input(type="email" class="form-control" name="username" placeholder="Username" id="username")

                                    div(class="input-group mb-2")
                                        div(class="input-group-prepend")
                                            span(class="input-group-text")
                                                i(class="feather icon-mail")
                                        input(type="email" class="form-control" name="email" placeholder="Email address" id="email") 
                                    div(class="input-group mb-2")
                                        div(class="input-group-prepend")
                                            span(class="input-group-text")
                                                i(class="feather icon-phone")
                                        input(type="tel" class="form-control" name="mobile" placeholder="Phone Number" id="phoneNumber")
                                    div(class="input-group mb-3")
                                        div(class="input-group-prepend")
                                            span(class="input-group-text")
                                                i(class="feather icon-lock")
                                        input(input type="password" autocomplete="false" name="password" class="form-control" placeholder="Password" id="password")
                                    div(class="input-group mb-3")
                                        div(class="input-group-prepend")
                                            span(class="input-group-text")
                                                i(class="feather icon-lock")
                                        input(input type="password" autocomplete="false" name="confirmPassword" class="form-control" placeholder="Confirm Password" id="confirmPassword")
                                   
                                    .alert.d-none
                                    button(class="btn btn-primary mb-4" type="submit" id="submit") Create
                                    
                        div(class="col-md-6 d-none d-md-block")
                            img(src="/assets/images/auth-bg.jpg" alt="Auth Login Image" class="img-fluid")
        
        script(src="/javascripts/admin-register.js" type="module")