include includes/head.pug
block content
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug
        include includes/nav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .page-header
                                    .page-block
                                        .row.align-items-center
                                            .col-md-12
                                                .page-header-title
                                                    h5 Dashboard
                                .row
                                    // product profit start
                                    .col-xl-3.col-md-6
                                        .card.prod-p-card.bg-c-red
                                            .card-body
                                                .row.align-items-center.m-b-25
                                                    .col
                                                        h6.m-b-5.text-white Total Stats
                                                        h3.m-b-0.text-white 1,783
                                                    .col-auto
                                                        i.fas.fa-money-bill-alt.text-c-red.f-18
                                                p.m-b-0.text-white
                                                    span.label.label-danger.m-r-10 +11%
                                                    | From Previous Month
                                    .col-xl-3.col-md-6
                                        .card.prod-p-card.bg-c-blue
                                            .card-body
                                                .row.align-items-center.m-b-25
                                                    .col
                                                        h6.m-b-5.text-white Total Stats
                                                        h3.m-b-0.text-white 1,783
                                                    .col-auto
                                                        i.fas.fa-money-bill-alt.text-c-blue.f-18
                                                p.m-b-0.text-white
                                                    span.label.label-primary.m-r-10 +11%
                                                    | From Previous Month
                                    .col-xl-3.col-md-6
                                        .card.prod-p-card.bg-c-green
                                            .card-body
                                                .row.align-items-center.m-b-25
                                                    .col
                                                        h6.m-b-5.text-white Total Stats
                                                        h3.m-b-0.text-white 1,783
                                                    .col-auto
                                                        i.fas.fa-money-bill-alt.text-c-green.f-18
                                                p.m-b-0.text-white
                                                    span.label.label-success.m-r-10 +11%
                                                    | From Previous Month
                                    .col-xl-3.col-md-6
                                        .card.prod-p-card.bg-c-yellow
                                            .card-body
                                                .row.align-items-center.m-b-25
                                                    .col
                                                        h6.m-b-5.text-white Total Stats
                                                        h3.m-b-0.text-white 1,783
                                                    .col-auto
                                                        i.fas.fa-money-bill-alt.text-c-yellow.f-18
                                                p.m-b-0.text-white
                                                    span.label.label-warning.m-r-10 +11%
                                                    | From Previous Month

                                    .col-md-4
                                        .card.card-social
                                            .card-block.border-bottom
                                                .row.align-items-center.justify-content-center
                                                    .col-auto
                                                        i.fab.fa-accusoft.text-primary.f-36
                                                    .col.text-right
                                                        h3 12,281
                                                        h5.text-c-blue.mb-0
                                                            span.text-muted Total Likes
                                            .card-block
                                                .row.align-items-center.justify-content-center.card-active
                                                    .col-6
                                                        h6.text-center.m-b-10
                                                            span.text-muted.m-r-5 Target:
                                                            | 35,098
                                
                                                    .col-6
                                                        h6.text-center.m-b-10
                                                            span.text-muted.m-r-5 Duration:
                                                            | 350
                                                        
                                    .col-md-4
                                        .card.card-social
                                            .card-block.border-bottom
                                                .row.align-items-center.justify-content-center
                                                    .col-auto
                                                        i.fab.fa-accusoft.text-primary.f-36
                                                    .col.text-right
                                                        h3 12,281
                                                        h5.text-c-blue.mb-0
                                                            span.text-muted Total Likes
                                            .card-block
                                                .row.align-items-center.justify-content-center.card-active
                                                    .col-6
                                                        h6.text-center.m-b-10
                                                            span.text-muted.m-r-5 Target:
                                                            | 35,098
                                                
                                                    .col-6
                                                        h6.text-center.m-b-10
                                                            span.text-muted.m-r-5 Duration:
                                                            | 350

                                    .col-md-4
                                        .card.card-social
                                            .card-block.border-bottom
                                                .row.align-items-center.justify-content-center
                                                    .col-auto
                                                        i.fab.fa-accusoft.text-primary.f-36
                                                    .col.text-right
                                                        h3 12,281
                                                        h5.text-c-blue.mb-0
                                                            span.text-muted Total Likes
                                            .card-block
                                                .row.align-items-center.justify-content-center.card-active
                                                    .col-6
                                                        h6.text-center.m-b-10
                                                            span.text-muted.m-r-5 Target:
                                                            | 35,098
                                                        
                                                    .col-6
                                                        h6.text-center.m-b-10
                                                            span.text-muted.m-r-5 Duration:
                                                            | 350
                                                        
        include includes/footer.pug
