doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='icon' href='img/favicon.png' type='image/png')
  title HomePage
  link(rel='stylesheet' href='/assets/plugins/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='vendors/linericon/style.css')
  link(rel="stylesheet" href="/assets/fonts/feather/css/feather.css")
  link(rel='stylesheet' href='vendors/owl-carousel/owl.carousel.min.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='vendors/nice-select/css/nice-select.css')
  link(rel='stylesheet' href='vendors/animate-css/animate.css')
  link(rel='stylesheet' href='vendors/flaticon/flaticon.css')
  link(rel='stylesheet' href='/stylesheets/landing.css')
header.header_area
  .main_menu
    nav.navbar.navbar-expand-lg.navbar-light
      .container
        a.navbar-brand.logo_h(href='/') IGR
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        #navbarSupportedContent.collapse.navbar-collapse.offset
          ul.nav.navbar-nav.menu_nav.justify-content-center
            li.nav-item.active
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='#') About Us
            li.nav-item.submenu.dropdown
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Taxes
              ul.dropdown-menu
                li.nav-item
                  a.nav-link(href='#') Revenue Items
                li.nav-item
                  a.nav-link(href='#') Collecting Banks
                li.nav-item
                  a.nav-link(href='#') Verify TCC
                li.nav-item
                  a.nav-link(href='#') Request TCC
            li.nav-item.submenu.dropdown
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') TIN
              ul.dropdown-menu
                li.nav-item
                  a.nav-link(href='#') Individual
                li.nav-item
                  a.nav-link(href='#') Corporate
            li.nav-item
              a.nav-link(href='#') News
            li.nav-item
              a.nav-link(href='#') Contact
          ul.nav.navbar-nav.navbar-right
            li.nav-item
              a.primary_btn.text-uppercase(href='/login') Login
section.home_banner_area
  .banner_inner
    .container
      .row
        .col-lg-5
          .banner_content
            h2
              | Payment to the state 
              br
              | government now faster
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              | magna aliqua. Ut enim ad minim.
              | sed do eiusmod tempor incididunt.
            .d-flex.align-items-center
              a.primary_btn(href='/register')
                span Get Started
              
        .col-lg-7
          .home_right_img
            
section.section_gap.features_area
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        .main_title
          p.top_title Lorem Ipsum Features
          h2 A Complete consectetur adipisicing elit
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          a.primary_btn(href='/register')
            span Get Started Now
    .row.align-items-center
      .col-lg-6
        .left_features
          img.img-fluid(src='/images/smile-2.jpg' alt='')
      .col-lg-5.offset-lg-1
        .single_feature
          .feature_head
            span.feather.icon-tv
            h4 Feature One
          .feature_content
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
        .single_feature
          .feature_head
            span.feather.icon-tv
            h4 Feature Two
          .feature_content
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
        .single_feature
          .feature_head
            span.feather.icon-tv
            h4 Feature Three
          .feature_content
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.

section.section_gap.big_features
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        .main_title
          p.top_title Features consectetur
          h2 Amozon Feateri Tart make it Awephar!
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .row.features_content
      .col-lg-4.offset-lg-1
        .big_f_left
          img.img-fluid(src='/landing/img/f-img1.png' alt='')
      .col-lg-4.offset-lg-2
        .common_style
          p.line Consectetur Adipisicing Elit
          h3
            | We Believe that 
            br
            |  This will blow your mind
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          a.primary_btn(href='#')
            span Learn More
      .border-line
      img.shape1(src='/landing/img/shape1.png' alt='')
      img.shape2(src='/landing/img/shape2.png' alt='')
      img.shape3(src='/landing/img/shape1.png' alt='')
    .row.features_content.bottom-features
      .col-lg-5
        .common_style
          p.line Consectetur Adipisicing Elit
          h3
            | We Believe that 
            br
            |  This will blow your mind
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          a.primary_btn(href='#')
            span Learn More
      .col-lg-5.offset-lg-2
        .big_f_left
          img.img-fluid(src='/landing/img/f-img2.png' alt='')
      .border-line
      img.shape1(src='landing/img/shape1.png' alt='')
      img.shape2(src='landing/img/shape2.png' alt='')
      img.shape3(src='landing/img/shape1.png' alt='')
section.price_area.section_gap
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        .main_title
          p.top_title Features Specifications
          h2 Amazing Features That make it Awesome!
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .price_inner.row.justify-content-center
      .col-lg-4.col-md-6
        .price_item
          .price_head
            h4 First
          .price_body
            ul.list
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
          
      .col-lg-4.col-md-6
        .price_item
          .price_head
            h4 Second
          .price_body
            ul.list
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
         
      .col-lg-4.col-md-6
        .price_item
          .price_head
            h4 Third
          .price_body
            ul.list
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz
              li
                a(href='#') Diman Tinuz


section.impress_area
  .container
    .impress_inner
      h2 Do you have your TCC?
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      a.primary_btn(href='#')
        span Pay Now
footer.footer_area
  .container
    .row.footer_inner
      .col-lg-5.col-sm-6
        aside.f_widget.ab_widget
          .f_title
            h3 About Us
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            
          p
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  IGR
            
      .col-lg-5.col-sm-6
        aside.f_widget.news_widget
          .f_title
            h3 Newsletter
          p Stay updated with our latest trends
          #mc_embed_signup
            form.subscribe_form.relative
              .input-group.d-flex.flex-row
                input(name='EMAIL' placeholder='Enter email address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required='' type='email')
                button.btn.sub-btn
                  span.feather.icon-arrow-right
              .mt-10.info
      .col-lg-2
        aside.f_widget.social_widget
          .f_title
            h3 Follow Us
          p Let us be social
          ul.list
            li
              a(href='#')
                i.feather.icon-facebook
            li
              a(href='#')
                i.feather.icon-twitter
            li
              a(href='#')
                i.feather.icon-instagram
           
script(src='/landing/js/jquery-3.2.1.min.js')
script(src='/landing/js/popper.js')
script(src="/landing/js/bootstrap.min.js")
script(src='/landing/js/stellar.js')
script(src='/landing/js/jquery.magnific-popup.min.js')
script(src='/landing/vendors/owl-carousel/owl.carousel.min.js')
script(src='/landing/js/jquery.ajaxchimp.min.js')
script(src='/landing/vendors/counter-up/jquery.waypoints.min.js')
script(src='/landing/vendors/counter-up/jquery.counterup.min.js')
script(src='/landing/js/mail-script.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE')
script(src='/landing/js/gmaps.min.js')
script(src='/landing/js/theme.js')

