include includes/head.pug
block content
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug
        include includes/nav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-sm-12
                                        .card
                                            .card-header
                                                h5 Welcome Adeleke Bright
                                            .card-body
                                                p #{message} 
                                                p #[a(href="/setup/accounts") Return to create account]

        include includes/footer.pug