include includes/head.pug
block content
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug
        include includes/nav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-xl-4.col-md-6
                                        .card.user-card
                                            .card-header
                                                h5 Profile
                                            .card-body.text-center
                                                .user-image
                                                    img(src='/images/user/avatar-4.jpg' class="img-radius wid-100 m-auto" alt="User-Profile-Image")
                                                h6(class="f-w-600 m-t-25 m-b-10") #{user.name}
                                                p #{user.contactEmail}
                                                
        include includes/footer.pug